<div>
  <app-header></app-header>
</div>

<!--<hr style="border: solid 2px #dd1d0a; font-weight: 900">-->
<section id="home" class="parallax-section">
  <!-- <div class="container"> -->
  <!-- <div class="row">
      <div class="col-md-12 col-sm-12">-->
  <!-- <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container">
              <h2>"anyone CAN DO in anywhere and anytime"</h2>
              <div class="input-group stylish-input-group">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query">
                <span class="input-group-addon">
      <button type="submit">
      <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
              </div>
            </div>
          </div>
        </div> -->
  <!-- &lt;!&ndash;<a href="#" class="smoothScroll btn btn-color btn-lg">Join for free</a>&ndash;&gt;
        <br>
        <br>-->
  <!-- </div>
    </div>
  </div> -->
</section>

<div class="container-fluid" style="margin-top: 50px;">
  <app-courselist></app-courselist>
</div>

<div>
  <app-footer></app-footer>
</div>
