<app-header></app-header>
<div class="container-fluid">

  <div align="center">
    <div class="row content">
      <div class="col-sm-12">
        <div class="well">
          <h4>สถานะการชำระเงิน</h4>
          <br>
          <table class="table table-striped">
            <thead>
            <tr>
              <th><p>ลำดับคำสั่งซื้อ</p></th>
              <th><p>เลขคำสั่งซื้อ</p></th>
              <th><p>วันชำระเงิน</p></th>
              <!--<th>User Email</th>-->
              <th><p align="right">ยอดเงิน</p></th>
              <th><p align="right">สถานะ</p></th>
              <th></th>
            </tr>
            </thead>
            <tbody *ngFor="let orderPayment of orderPayments| sortObject:'id'">
            <tr *ngIf="orderPayment.users[0].id == currentUser.id">
              <td>{{orderPayment.id}}</td>
              <td>{{orderPayment.transRef}}</td>
              <td>{{orderPayment.createDate}}</td>
              <!--<td>{{orderPayment.users[0].email}}</td>-->
              <td align="right">{{orderPayment.transAmount}}</td>
              <td [hidden]="orderPayment.statusOrder == confirm">{{orderPayment.statusOrder}}</td>
              <td align="right" *ngIf="orderPayment.statusOrder == confirm" style="color: green">
                {{orderPayment.statusOrder}}
              </td>
              <td>
                <div [hidden]="orderPayment.statusOrder == confirm">
                  <button class="btn btn-success btn-sm" (click)="Submit(orderPayment.id)">แจ้งชำระเงิน
                    <!--[routerLink]="['/topUpBank', orderPayment.id]"-->
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>
</div>
