<app-header></app-header>
<div class="container-fluid">

  <nav class="navbar navbar-default bg-faded" style="margin: 2%; padding: 2%">

    <div align="center">
      <div *ngFor="let user of users">
        <span class="navbar-text" *ngIf="user.id == currentUser.id">

       <form (ngSubmit)="upload(user.id)">
         <div class="row">

          <div class="col-md-3" *ngIf="user.userImages[0]?.id == null">
            <br>
            <div>
          <input class="btn btn-danger btn-md" type="file" #fileInput/>
          <button type="button" (click)="upload(user.id)">Upload</button>
          </div>
          </div>
      </div>
       </form>

    </span>
      </div>
    </div>

    <!-- <div>
    <button class="btn btn-danger btn-md" *ngIf="user.userImages[0]?.id != null" (click)="DeleteImage(user.userImages[0]?.id)"> <i class="glyphicon glyphicon-trash">DeleteImage</i>
  </button>
  </div> -->

    <div align="center" *ngFor="let user of users">
      <div *ngIf="user.id == currentUser.id">
        <div>
          <button type="button" class="close" aria-label="Close" *ngIf="user.userImages[0]?.id != null" (click)="DeleteImage(user.userImages[0]?.id)">
  <span aria-hidden="true"><i class="glyphicon glyphicon-trash">DeleteImage</i></span>
</button>
          <img src="data:{{user.userImages[0]?.contentType}};base64,{{user.userImages[0]?.content}}">
        </div>
        <br>
        <textarea rows="8" style="width: 100%" name="instructorBio" [(ngModel)]="user.instructorBio" #instructorBio="ngModel">
      </textarea>
        <button type="submit" class="btn btn-danger btn-md" (click)="update(user.instructorBio, getUserId)">Update Introduction</button>
      </div>
    </div>

  </nav>

</div>
